
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

.container.one{
    background-color: #1f2937;
}
body{
  font-family: "Roboto", "serif";
}
.navbar{
    display: flex;
   margin-right: 100px;

}
.header-logo{
    font-size: 24px;
    color: #F9FAF8; 
    font-weight: bolder;
   
}
.list{
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px;
}
ul{
    display: flex;
    flex-direction: row;
}
.header-logo, ul{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.left{
    font-size: 25px;
    font-weight: bolder;
    color: #F9FAF8;
}
.click{
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 30px;
    border: 1px;
    border-color: #3882F6;
    border-radius: 20px;
   
}
.main-part{
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-right: 100px;
}
.left{
    display: flex;
    justify-content: center;
   margin-left: 330px ;
    flex-direction: column;
    width: 50%;
    margin-bottom: 40px;
}
 .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin-right: 130px;
    margin-bottom: 30px;
 }
 .top-text{
    display: flex;
    justify-content: center;
 }
 .pics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    font-size: 16px;
    text-align: center;
    margin: 50px;
    font-family: "Roboto" serif;
    
 }
 
 h2{
    font-size: 36px;
    font-weight: bolder;
color: #1f2937; 
}
.photo img{
    border-radius: 15px;
}

.third-box{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
padding: 100px;
text-align: center;

}
.wise{
    text-align: end;
    margin-right: 300px;
}
.trouble{
       padding: 20px;
}
.fourth-box{
    background-color: #3882F6;
    padding: 40px 60px;
   margin: 100px 20% 100px 20%;
border-radius: 20px;

}
.hiee{
    color: white;
    font-family: "Roboto";
  font-size: 20px;
}
.sign{
    background-color: #3882F6;
    color: white;
    width: 160px;
    height: 50px;
   border-color: white;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bolder;
  border-width: 3px;
}
.meow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fifth-box{
    background-color: #1f2937;
    padding: 40px 60px;
    font-size: 22px;
    color: white;
    font-family: "Roboto" serif;
    text-align: center;
}