@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.container.one{
    background-color: #1f2937;
}
body{
  font-family: "Roboto", "serif";
}
.navbar{
    display: flex;
   

}
.header-logo{
    font-size: 24px;
    color: #F9FAF8; 
   
}
.list{
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px;
}
ul{
    display: flex;
    flex-direction: row;
}
.header-logo, ul{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.left{
    font-size: 30px;
    font-weight: bolder;
    color: #F9FAF8;
}
.click{
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 30px;
    border: 1px;
    border-color: #3882F6;
    border-radius: 20px;
   
}
.main-part{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.left{
    display: flex;
    justify-content: center;
   margin-left: 350px ;
    flex-direction: column;
    width: 50%;
}
 .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin-right: 80px;
    margin-bottom: 30px;
    margin-top: 20px;

 }
 